/*
CTC Separate Stylesheet
Updated: 2024-01-16 06:25:13
*/


/*
     FILE ARCHIVED ON 20:08:34 Aug 13, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:36:39 Apr 12, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.522
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 15.177
  LoadShardBlock: 312.911 (3)
  PetaboxLoader3.datanode: 411.254 (5)
  load_resource: 262.286
  PetaboxLoader3.resolve: 120.707
  loaddict: 111.068
*/