.elementor-96 .elementor-element.elementor-element-07b5f38 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-96 .elementor-element.elementor-element-07b5f38:not(.elementor-motion-effects-element-type-background), .elementor-96 .elementor-element.elementor-element-07b5f38 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F3FBF3;}.elementor-96 .elementor-element.elementor-element-07b5f38{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-96 .elementor-element.elementor-element-07b5f38 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-96 .elementor-element.elementor-element-c55a26f > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:20px 20px 20px 20px;}.elementor-96 .elementor-element.elementor-element-c55a26f > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-96 .elementor-element.elementor-element-e885b45{text-align:left;}.elementor-96 .elementor-element.elementor-element-e885b45 img{width:100%;}body.elementor-page-96:not(.elementor-motion-effects-element-type-background), body.elementor-page-96 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#6E6E6E;}
/*
     FILE ARCHIVED ON 02:29:04 Aug 14, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:36:39 Apr 12, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.465
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.007
  esindex: 0.01
  cdx.remote: 161.344
  LoadShardBlock: 86.527 (3)
  PetaboxLoader3.datanode: 126.782 (5)
  load_resource: 205.323
  PetaboxLoader3.resolve: 105.702
  loaddict: 59.976
*/